### 1. Generate an infinite Fibonacci series using a generator.

In [5]:
def fibonnacci(num):
    if num > 1:
        a = 0
        b = 1
        for i in range (1, num+1):
            c = a+b
            a = b
            b = c
#             c = a+b
            print(c)

In [9]:
fibonnacci(8)

1
2
3
5
8
13
21
34

0
1
2
3
5
8
13
21
34
55
89

In [22]:
fibonacci(8)

0
1
2
3
5
8
13
21

In [23]:
def fib(num):
    if num > 1:
        a = 0
        b = 1
        print(a)
        for i in range(1, num):
            c = a + b
            a = b 
            b = c
            print(c)

In [24]:
fib(7)

0
1
2
3
5
8
13

### 2. Sort a list without using the keyword Sort.

In [28]:
def lis_sot(lis):
    for i in range(0, len(lis)):
        for j in range(i+1, len(lis)):
            if lis[i] <= lis[j]:
                lis[i], lis[j] = lis[j], lis[i]
    print(lis)

In [29]:
lis_sot([23, 45, 54, 3, 54, 64, 23, 23, 12, 1, 2, 6])

[64, 54, 54, 45, 23, 23, 23, 12, 6, 3, 2, 1]

In [34]:
def list_sort(list1):
    for i in range(0, len(list1)):
        for j in range(i+1, len(list1)):
            if list1[i] >= list1[j]:
                list1[i], list1[j] = list1[j], list1[i]
    print(list1)

In [35]:
list_sort([23, 45, 54, 3, 54, 64, 23, 23, 12, 1, 2, 6])

[1, 2, 3, 6, 12, 23, 23, 23, 45, 54, 54, 64]

In [42]:
def list1_sot(lis1):
    for i in range(0, len(lis1)):
        for j in range(i+1, len(lis1)):
            if lis1[i] >= lis1[j]:
                lis1[i], lis1[j] = lis1[j], lis1[i]
    print(lis1)

In [43]:
list1_sot([23, 45, 54, 3, 54, 64, 23, 23, 12, 1, 2, 6])

[1, 2, 3, 6, 12, 23, 23, 23, 45, 54, 54, 64]

In [44]:
def lst_sot(lis):
    for i in range(0, len(lis)):
        for j in range(i+1, len(lis)):
            if lis[i]>=lis[j]:
                lis[i], lis[j] = lis[j], lis[i]
                
    print(lis)

In [45]:
lst_sot([23, 45, 54, 3, 54, 64, 23, 23, 12, 1, 2, 6])

[1, 2, 3, 6, 12, 23, 23, 23, 45, 54, 54, 64]

In [48]:
def fib(num):
    if num > 1:
        a = 0
        b = 1
        print(a)
        for i in range(1, num):
                c = a + b
                a = b
                b = c
                print(c)

In [49]:
fib(7)

0
1
2
3
5
8
13

In [54]:
def ls_sot(lis):
    for i in range(0, len(lis)):
        for j in range(i+1, len(lis)):
            if lis[i] > lis[j]:
                lis[i], lis[j] = lis[j], lis[i]
    print(lis)

In [55]:
ls_sot([23, 45, 54, 3, 54, 64, 23, 23, 12, 1, 2, 6])

[1, 2, 3, 6, 12, 23, 23, 23, 45, 54, 54, 64]

### 3. Check whether a string is palindrome or not?

In [63]:
def palindrome(string):
    a = str(string)
    if a == a[-1::-1]:
        print("Palindrome")
    else:
        print("No")

In [64]:
palindrome(243234)

No

In [65]:
def palin(string):
    a = str(string)
    if a == a[-1::-1]:
        print('Palindrome')
    else:
        print("No")

In [67]:
palin("adda")

Palindrome

### Program to sort a dictionary based on keys in python.

In [1]:
a = {'Ram':'God',
    'Shyam':'Boy',
    'Radha':'Godess',
    'Sita':'Girls',
     'Divyanshu':'Me',
     'Gunnu':'Cousin'
    }

In [97]:
b = dict(sorted(a.items()))

In [98]:
b

{'Divyanshu': 'Me',
 'Gunnu': 'Cousin',
 'Radha': 'Godess',
 'Ram': 'God',
 'Shyam': 'Boy',
 'Sita': 'Girls'}

### Program to sort a dictionary based on values in python.

In [2]:
dict2 = {key:value for key, value in sorted(a.items(), key = lambda x:x[1])}

In [3]:
dict2

{'Shyam': 'Boy',
 'Gunnu': 'Cousin',
 'Sita': 'Girls',
 'Ram': 'God',
 'Radha': 'Godess',
 'Divyanshu': 'Me'}

In [103]:
dictionary = {}
for n in range(10):
    dictionary[n] = n**3
print(dictionary)

{0: 0, 1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729}

In [104]:
dict3 = {n : n**2 for n in range(10)}

In [105]:
dict3

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

### Find the pair with a given number in a list. two elements sum to the given number.

In [111]:
def sum_pair(lis, sum):
    for i in range (len(lis)):
        for j in range(i, len(lis)):
            if lis[i]+lis[j]==sum:
                print(f"{lis[i]}, {lis[j]}")

In [112]:
sum_pair([23, 45, 54, 3, 54, 64, 23, 23, 12, 1, 2, 6], 8)

2, 6

### Create a Fibonacci series using recursion.

In [18]:
def fibo(num):
    if num <= 1:
        return num
    else:
        return fibo(num-1)+fibo(num-2)

In [19]:
num = int(input("Enter the number: "))
if num <= 0:
    print("Enter the positive number")
else:
    for i in range(num):
        print(fibo(i))

Enter the number: 5
0
1
1
2
3

In [30]:
def fibon(num):
    if num <= 1:
        return num
    else:
        return fibon(num-1)+fibon(num-2)

In [31]:
num = int(input("Enter the number"))
for i in range(num):
    print(fibon(i), end = ',')

Enter the number5
0,1,1,2,3,

In [35]:
def fib(num):
    if num <= 1:
        return num
    else:
        return fib(num - 1) + fib(num - 2)

In [37]:
num = int(input("Enter the number"))
for i in range(num):
    print(fib(i), end = ',')

Enter the number5
0,1,1,2,3,

In [42]:
def fibonacii(num):
    if num <= 2:
        print("please enter number greater than 2")
    else:
        a = 0
        b = 1
        for i in range(num):
            print(a)
            c = a+b
            a = b
            b = c

In [43]:
fibonacii(8)

0
1
1
2
3
5
8
13

### Sort a list without using the keyword Sort.

In [47]:
def bubble_sort(lst):
    for i in range (len(lst)):
        for j in range(i+1, len(lst)):
            if lst[i]>lst[j]:
                lst[i], lst[j] = lst[j], lst[i]
    print(lst)

In [48]:
bubble_sort([23, 45, 54, 3, 54, 64, 23, 23, 12, 1, 2, 6])

[1, 2, 3, 6, 12, 23, 23, 23, 45, 54, 54, 64]

In [53]:
def pair_sum(lst, sum):
    for i in range (len(lst)):
        for j in range(i, len(lst)):
            if lst[i]+lst[j]==sum:
                print(f"{lst[i]} {lst[j]}")
                break
#                 print(f"{lst[i]} {lst[j]}")

In [55]:
pair_sum([23, 45, 54, 3, 54, 64, 22, 23, 12, 13, 2, 6], 35)

23 12
22 13
23 12

In [56]:
def palin(string):
    a = str(string)
    return string == string[-1::-1]

In [59]:
palin('addam')

False

### String manipulation. "The Sky is Blue" to "Blue is Sky The"

In [61]:
def string_revert(sentence):
    words = sentence.split()
    reversed_words = words[-1::-1]
    print(f" {' '. join(words)}    {' '. join(reversed_words)} ")

In [62]:
string_revert( "The Sky is Blue")

 The Sky is Blue    Blue is Sky The

### Find a maximum and minimum value in a List without using any predefined function.

In [68]:
def max_min(lst):
    for i in range(len(lst)):
        for j in range(i+1, len(lst)):
            if lst[i]>lst[j]:
                lst[i], lst[j] = lst[j], lst[i]
    print(f"maximum value is {lst[-1]} and the minimum value is {lst[0]}")

In [69]:
max_min([23, 45, 54, 3, 54, 64, 22, 23, 12, 13, 2, 6])

maximum value is 64 and the minimum value is 2

In [81]:
def str_count(string):
    words = string.split()
    for i in words:
        print(i," = ", words.count(i), 'Times')

In [99]:
def str_count(string):
    words = string.replace(",", "").replace(".", "")
    words = string.split()
    dict1 = {i: words.count(i) for i in words}
    sorted_dict = dict(sorted(dict1.items(), key=lambda item: item[1]))
    print(list(sorted_dict.items())[-1])

In [100]:
str_count('In a quaint, quaint village nestled amid rolling hills, the villagers led simple, simple lives. Their daily routine revolved around routine tasks: tending to the fields, fields of golden wheat swaying in the breeze. Life was serene, serene like a painting that unfolded with each passing day, day after day.')

('the', 3)

In [152]:
def fib_gen(num):
    a, b=0, 1
    count = 0
    while count < num:
        yield a
        c = a+b
        a = b
        b=c
        count += 1

In [153]:
list(fib_gen(10))

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [139]:
next(f1)

8

In [143]:
def lis_sot(lst):
    for i in range(len(lst)):
        for j in range(i+1, len(lst)):
            if lst[i] > lst[j]:
                lst[i] , lst[j] = lst[j] , lst[i]
    print(lst)

In [144]:
lis_sot([23, 45, 54, 3, 54, 64, 22, 23, 12, 13, 2, 6])

[2, 3, 6, 12, 13, 22, 23, 23, 45, 54, 54, 64]

In [145]:
def palindrome(string):
    string = str(string)
    return string[-1::-1]==string

In [147]:
palindrome('addda')

True

In [148]:
def pair_sum(lst, sum):
    for i in range(len(lst)):
        for j in range(i+1, len(lst)):
            if lst[i]+lst[j] == sum:
                print(f"{lst[i]},  {lst[j]}")

In [149]:
pair_sum([23, 45, 54, 3, 54, 64, 22, 23, 12, 13, 2, 6], 35)

23,  12
22,  13
23,  12

In [150]:
def recur_fib(n):
    if n <= 1:
        return n
    else: 
        return recur_fib(n-1)+recur_fib(n-2)

In [151]:
recur_fib(8)

21

In [157]:
n = int(input("enter the number: "))
if num<=2:
    print("enter larger number")
else:
    for i in range (n):
        print(recur_fib(i), end = ", ")

enter the number: 9
0, 1, 1, 2, 3, 5, 8, 13, 21,

In [158]:
def rec_fib(n):
    if n <= 1:
        return n
    else: 
        return rec_fib(n-1)+rec_fib(n-2)

In [159]:
n = int(input("Enter the number"))
if n>=2:
    for i in range(n):
        print(rec_fib(i), end = ", ")

Enter the number9
0, 1, 1, 2, 3, 5, 8, 13, 21,

In [191]:
def rec_fact(n):
    if n == 0:
        return 1
    return n * rec_fib(n-1)

result = rec_fact(5)

In [192]:
result = rec_fact(5)
print(result)

15

In [185]:
def fact (n) :
    if n==0:

        return 1
    return n * fact (n-1)
result = fact(5)
print (result)

120

In [206]:
my_dict = dict(sorted(a.items(), key=lambda item:item[1]))

In [207]:
my_dict

{'Shyam': 'Boy',
 'Gunnu': 'Cousin',
 'Sita': 'Girls',
 'Ram': 'God',
 'Radha': 'Godess',
 'Divyanshu': 'Me'}

In [204]:
a

{'Ram': 'God',
 'Shyam': 'Boy',
 'Radha': 'Godess',
 'Sita': 'Girls',
 'Divyanshu': 'Me',
 'Gunnu': 'Cousin'}

In [215]:
my_dict1 = dict(sorted(a.items(), key=lambda item:item[1]))

In [216]:
my_dict1

{'Shyam': 'Boy',
 'Gunnu': 'Cousin',
 'Sita': 'Girls',
 'Ram': 'God',
 'Radha': 'Godess',
 'Divyanshu': 'Me'}

In [227]:
def feb_recur(n):
    if n <=1:
        return n
    else:
        return feb_recur(n-1)+feb_recur(n-2)

In [228]:
for i in range(5):
    print(feb_recur(i), end = ", ")

0, 1, 1, 2, 3,

### Create a Fibonacci series using recursion.

In [229]:
def rec_fibonacci(n):
    if n <= 1:
        return n
    else:
        return rec_fibonacci(n-1) + rec_fibonacci(n-2)

In [231]:
for i in range(8):
    print(rec_fibonacci(i), end = ", ")

0, 1, 1, 2, 3, 5, 8, 13,

### String manipulation. "The Sky is Blue" to "Blue is The Sky"

In [238]:
def str_rev(string):
    list1 = string.split()
    rev_sentence = " ".join(list1[::-1])
    return rev_sentence

In [239]:
str_rev("The Sky is Blue")

'Blue is Sky The'

### Find the maximum repeated character in a string without having o(n2) complexity.

In [240]:
Hello my name is divyanshu kumar. Divyanshu kumar studied in iNeuron. I know about
iNeuron from my teacher.Some of the best teacher names of iNeuron are Sunny, Krishna,
and Sudhanshu Sir.

In [263]:
def max_char(string):
    new_string = string.replace(",", " ").replace(".", " ")
    words = new_string.split()
    word_dict = {i: words.count(i) for i in words}
    sorted_dict = dict(sorted(word_dict.items(), key=lambda item:item[1]))
    return list(sorted_dict.items())[-1]

In [264]:
max_char("Hello my name is divyanshu kumar. Divyanshu kumar studied in iNeuron. I know about iNeuron from my teacher. Some of the best teacher names of iNeuron are Sunny, Krishna, and Sudhanshu Sir.")

('iNeuron', 3)

### Find a maximum and minimum value in a List without using any predefined function.

In [58]:
# @tictoc
def max_min(lst):
    for i in range(len(lst)):
        for j in range(i+1, len(lst)):
            if lst[i] > lst[j]:
                lst[i], lst[j] = lst[j], lst[i]
    print(f"Minimum number is {lst[0]} and Maximum number is {lst[-1]}")

In [59]:
max_min([23, 45, 54, 3, 54, 64, 22, 23, 12, 13, 2, 6])

Minimum number is 2 and Maximum number is 64

### Write a code to raise an exception.

In [4]:
l= [23, 45, 54, 3, 54, 64, 22, 23, 12, 13, 2, 6]
m = 23
for i in l:
    if i == m:
        raise Exception(f"we found {m} in list")

Exception: we found 23 in list

In [12]:
number = [23, 45, 54, 3, 54, 64, 22, 23, 12, 13, 2, 6]
result = list(filter(lambda x: x%2==0, number))

In [13]:
print(result)

[54, 54, 64, 22, 12, 2, 6]

In [16]:
parinaam = list(map(lambda x:x**2, number))

In [17]:
parinaam

[529, 2025, 2916, 9, 2916, 4096, 484, 529, 144, 169, 4, 36]

In [18]:
num_pair = number = [(23, 45), (54, 3), (54, 64), (22, 23), (12, 13), (2, 6)]
result1 = sorted(num_pair, key=lambda x:x[1])

In [19]:
result1

[(54, 3), (2, 6), (12, 13), (22, 23), (23, 45), (54, 64)]

In [20]:
neg_number = [23, -45, 54, -3, -54, 64, 22, -23, -12, 13, -2, 6]
abs_num = list(map(lambda x:abs(x), neg_number))

In [21]:
abs_num

[23, 45, 54, 3, 54, 64, 22, 23, 12, 13, 2, 6]

In [24]:
ap_ex = [23, 45, 54, 3, 54, 64, 22, 23, 12, 13, 2, 6]

ap_ex.extend(['abcd'])

In [25]:
ap_ex

[23, 45, 54, 3, 54, 64, 22, 23, 12, 13, 2, 6, 'abcd']

In [27]:
ap_ex.extend([2, 3, 4, 6])

In [28]:
ap_ex

[23, 45, 54, 3, 54, 64, 22, 23, 12, 13, 2, 6, 'abcd', 2, 3, 4, 6]

In [33]:
def my_custom_decorator(lst):
    def decorator():
        for i in range(len(lst)):
            for j in range (i+1, len(lst)):
                if lst[i]>lst[j]:
                    lst[i], lst[j]=lst[j], lst[i]
        print(lst)
        
    
        return "This is a function inside a function and this is called a decorator is python."
     return decorator()

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 9)

In [35]:
def my_custom_decorator(func):
    def wrapper(lst):
        for i in range(len(lst)):
            for j in range(i + 1, len(lst)):
                if lst[i] > lst[j]:
                    lst[i], lst[j] = lst[j], lst[i]
        print("Sorted List:", lst)
        result = func(lst)
        return result

    return wrapper

@my_custom_decorator
def example_function(lst):
    return "This is a function inside a function and this is called a decorator in Python."

# Example usage
result = example_function([23, 45, 54, 3, 54, 64, 22, 23, 12, 13, 2, 6])
print(result)

Sorted List: [2, 3, 6, 12, 13, 22, 23, 23, 45, 54, 54, 64]
This is a function inside a function and this is called a decorator in Python.

In [36]:
print('decorate')

decorate

In [37]:
def hello():
    print("Hello World")

In [38]:
hello()

Hello World

In [49]:
def greet(fx):
    def mfx():
        print("Good Morning")
        fx()
        print("Thanks for using this function")
    return mfx

In [50]:
@greet
def add(a, b):
    print(a+b)

In [51]:
@greet
def hello():
    print("Hello World")

In [52]:
hello()

Good Morning
Hello World
Thanks for using this function

In [53]:
greet(hello)()

Good Morning
Good Morning
Hello World
Thanks for using this function
Thanks for using this function

In [55]:
import time
def tictoc(func):
    def wrapper():
        t1 = time.time()
        func()
        t2 = time.time()-t1
        print(f"This Function took {t2} seconds to execute")
    return wrapper

In [60]:
@tictoc
def do_this():
    time.sleep(2.5)

In [62]:
do_this()

This Function took 2.507439374923706 seconds to execute

In [63]:
def tictoc(func):
    def wrapper():
        t1 = time.time()
        func()
        t2 = time.time() - t1
        print(f"This function took {t2} seconds")
    return wrapper

In [31]:
import time
def time1(func):
    def wrapper():
        t1 = time.time()
        func()
        t2 = time.time()-t1
        print(f"This function took {t2} seconds")
    return wrapper

In [38]:
@time1
def list_square():
    list1 = input("Enter the list")
    l2 = list(map(int, list1.split(',')))
    l3 = list(map(lambda x:x*x, l2))
    print(l3)

NameError: name 'time1' is not defined

In [ ]:
list_square()

In [34]:
@time1
def list_even():
    list1 = input("Enter the list")
    l2 = list(map(int, list1.split(',')))
    l3 = list(filter(lambda x:x%2==0, l2))
    print(l3)

In [35]:
list_even()

Enter the list23, 45, 54, 3, 54, 64, 22, 23, 12, 13, 2, 6
[54, 54, 64, 22, 12, 2, 6]
This function took 2.8951284885406494 seconds

In [43]:
str1=" / *apples are found% only Igred & green"

result = filter(lambda char: char.isalnum() or char.isspace() or char == '&', str1)
modified_string = "".join(result)

In [44]:
modified_string

'  apples are found only Igred & green'

In [47]:
s = 'itininiytnnhhn'
ch = {}
for i in s:
    if i in ch:
        ch[i] += 1
    else :
        ch[i] = 1
print(ch)
max_char = max(ch, key = ch.get)
print(max_char)

{'i': 4, 't': 2, 'n': 5, 'y': 1, 'h': 2}
n

In [53]:
s = ' / *apples are found% only Igred & green'
ch = {}
for i in s:
    if i == " ":
        pass
    elif i in ch:
        ch[i] += 1
    else :
        ch[i] = 1
print(ch)
max_char = max(ch, key = ch.get)
print(max_char)

{'/': 1, '*': 1, 'a': 2, 'p': 2, 'l': 2, 'e': 5, 's': 1, 'r': 3, 'f': 1, 'o': 2, 'u': 1, 'n': 3, 'd': 2, '%': 1, 'y': 1, 'I': 1, 'g': 2, '&': 1}
e

### How You Create Parameterized Decorator?

In [54]:
def add_decorator(func):
    def wrapper(a, b):
        result = func(a, b)
        print(f"Adding {a} and {b} gives: {result}")
        return result

    return wrapper

@add_decorator
def add_numbers(x, y):
    return x + y

# Call the decorated function
add_numbers(3, 7)

Adding 3 and 7 gives: 10

10

In [2]:
def print_name(name):
    print("*"*len(name))
    print(name)
    print("*"*len(name))

In [3]:
print_name("Divyanshu kumar")

***************
Divyanshu kumar
***************

In [9]:
@prettify
def print_city(city):
#     print("*"*len(city))
    print(city)
#     print("*"*len(city))

In [10]:
print_city("Gaya")

****
Gaya
****

In [8]:
def prettify(func):
    def wrapper(text):
        print("*"*len(text))
        func(text)
        print("*"*len(text))
    return wrapper

In [11]:
def decor(func):
    def wrapper(text):
        print("*"*len(text))
        func(text)
        print("*"*len(text))
        
    return wrapper

In [14]:
@decor
def list_even(list1):
    l3 = list(filter(lambda x:x%2==0, list1))
    print(l3)

In [15]:
list_even([23, 45, 54, 3, 54, 64, 22, 23, 12, 13, 2, 6])

************
[54, 54, 64, 22, 12, 2, 6]
************

In [20]:
def decorate(func):
    def wrapper(text):
        print("*"*(2*len(text)))
        func(text)
        print("*"*(2*len(text)))
    return wrapper

In [21]:
@decorate
def list_even(list1):
    l3 = list(filter(lambda x:x%2==0, list1))
    print(l3)

In [22]:
def add_decorator(func):
    def wrapper(a, b):
        result = func(a, b)
        print(f"Adding {a} and {b} gives : {result}")
        return result
    return wrapper

In [23]:
@add_decorator
def add_number(x, y):
    return x+y

In [24]:
add_number(9, 5)

Adding 9 and 5 gives : 14

14

In [32]:
def para_deco(symbol):
    def sub_decor(func):
        def wrapper(x, y):
            print(symbol*(x+y))
            result = func(x, y)
            print(result)
            print(symbol*(x+y))
            return result
        return wrapper
    return sub_decor

In [36]:
@para_deco('*')
def add(x, y):
    return x+y

In [37]:
add(10, 12)

**********************
22
**********************

22

In [42]:
import time
def decorator(func):
    def wrapper():
        t1 = time.time()
        func()
        t2 = time.time()-t1
        return t2
    return wrapper

In [43]:
@decorator
def do_this():
    time.sleep(2.5)

In [44]:
do_this()

2.5035316944122314

In [53]:
def decorate(func):
    def wrapper(x, y):
        result = x+y
        print(f'{result}')
        
    return wrapper

In [54]:
@decorate
def func(x, y):
    time.sleep(2)
    return 1

In [55]:
func(5, 12)

17

In [86]:
class Computer:
    def process(self):
        pass

In [87]:
com = Computer()

In [88]:
com.process()

In [89]:
from abc import ABC, abstractmethod
class Computer(ABC):
    @abstractmethod
    def process(self):
        pass

In [97]:
# com = Computer()

In [94]:
class Laptop(Computer):
    def process(self):
        print("Its Running")

In [95]:
com1 = Laptop()

In [96]:
com1.process()

Its Running

In [106]:
class Whiteboard:
    def process(self):
        print("Its running")

In [107]:
class Programmer:
    def work(self, com):
        print("solving Bugs")
        com.process()

In [108]:
com1 = Laptop()
com2 = Whiteboard()

In [109]:
prog1 = Programmer()
prog1.work(com2)

solving Bugs
Its running

In [111]:
from abc import ABC, abstractmethod
class Vehicle(ABC):
    def __init__(self, n):
        self.no_of_types=n
    @abstractmethod
    def start(self):
        pass
    
    def display(self):
        print("Hi am calling from vehicle class")
        
class Bike:
    def __init__(self):
        self.no_of_tyres=2
        
    def start(self):
        print("Start with a kick")
        
class Scooty:
    def __init__(self):
        self.no_of_tyres=2
        
    def start(self):
        print("Self Start")
        
class Car:
    def __init__(self):
        self.no_of_tyres = 4
    def start(self):
        print("Start with a key")

In [ ]:
from abc import ABC, abstractmethod
class Vehicle(ABC):
    def __init__(self, n):
        self.no_of_types=n
    @abstractmethod
    def start(self):
        pass

In [112]:
from abc import ABC, abstractmethod

class Shape(ABC):
    @abstractmethod
    def area(self):
        pass
    

class Circle(Shape):
    def __init__(self, radius):
        self.radius = radius

    def area(self):
        return 3.14 * self.radius ** 2

In [114]:
c1 = Circle(7)

In [116]:
c1.area()

153.86

In [117]:
s1 = Shape()

TypeError: Can't instantiate abstract class Shape with abstract method area

In [120]:
class A:
    def show(self):
        print("A")

class B(A):
    def show(self):
        print("B")

class C(A):
    def show(self):
        print("C")

class D(B, C):
    pass

obj = D()
obj.show()

B

In [124]:
class Mobile:
    @staticmethod
    def show_series(m, p):
        print(f"My Phone series number is 5i {m}, {p}")

In [125]:
m1 = Mobile()
m1.show_series(3, 8)

My Phone series number is 5i 3, 8

In [147]:
class Student:
    grade = 4
    
    def __init__(self, name, age):
        self.name = name
        self.age = age
        
    def get_data(self):
        print(f"Name : {self.name}, Age : {self.age}, Grade : {self.grade}")
    
    @classmethod
    def update_grade(cls_, grade):
        cls_.grade = grade 
        
    @staticmethod
    def check_age(age):
        if age>18:
            print("Above 18")
        else:
            print("Below 18")

In [148]:
Student.update_grade(49)

In [149]:
s1 = Student('Divyanshu', 12)
s2 = Student("Shubham", 21)

In [150]:
s1.get_data()

Name : Divyanshu, Age : 12, Grade : 49

In [151]:
s2.get_data()

Name : Shubham, Age : 21, Grade : 49

In [153]:
s1.check_age(24)

Above 18